# dependencies
node_modules
yarn.lock

# next.js
.next/
out/

# production
build/

# generated at build time
**/public/sw*
**/public/swe-worker*
**/public/rss/

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel

# editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
