# dependencies
node_modules
yarn.lock

# next.js
.next/
out/

# production
build/

# generated at build time
**/public/workbox-*.js
**/public/sw.js
**/public/worker-*.js
**/public/rss/

# env files (all except example)
# .env*.local

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel

# editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
