// Override default variables before the import
$body-bg: #fffee0;
$body-color: #090a00;

$theme-colors: (
  "primary": #0074d9,
  "danger": #ff4136,
);

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
