body {
  margin: 0;
  font-family: "Sacramento", cursive;
  font-family: "Inconsolata", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fffee0;
  color: #090a00;
}

code {
  font-family: "Sacramento", cursive;
  font-family: "Inconsolata", monospace;
}
