/* Title */
.h1 {
  font-size: 5rem;
  width: 100%;
  margin: auto;
  text-align: center;
  font-family: "Sacramento", cursive;
}

.lightText {
  padding-bottom: 2rem;
}

/* ERROR Page */
.errContainer {
  padding: 20;
  user-select: none;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.errImg {
  height: 50%;
  width: auto;
  object-fit: contain;
}

.errText {
  text-align: center;
}

/* Privacy-Policy Page */
.privacyPolicy {
  padding: 10vw;
  user-select: none;
}

/* Pre Title */
.preTitle {
  width: 100%;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 200;
  font-family: monospace;
  opacity: 0.7;
  padding: 0.8em 0em 0.5em 0em;
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 4s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

/* /articles */
.articleList {
  margin-top: 25vh;
}
.card {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.5;
  border: 1px solid #f5f0c2;
  border-radius: 4px;
  width: 100%;
  margin: 10px 0px;
}
.imgContainer {
  flex: 2;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 4px;
}
.img {
  height: auto;
  width: 30vh;
  padding: 2px;
  object-fit: contain;
}
.textContainer {
  flex: 6;
  padding: 6px;
}
.articleTitle {
  padding: 6px 2px;
}
.articleDesc {
  padding: 6px 4px;
  font-size: 14px;
}
.articleKeys {
  font-size: 11px;
  padding: 6px 4px;
  margin: 2px;
}
.articleKey {
  background-color: #d3bf00;
  border-radius: 5px;
  margin-left: 4px;
  padding: 3px 5px;
}
.articleAuthor {
  padding: 6px 3px;
  color: #d3bf00;
  font-size: 14px;
}

/* BHAR4T */
.git {
  color: "gray";
  font-size: 11px;
  user-select: "none";
}
